*{
    box-sizing: border-box;
}

h1 {
	font-family: sans-serif;
	color: #000000;
    font-weight: bold;
}
h3{
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: black;
	color: firebrick;
}

section {
    position: relative;
    padding: 10px;
    
}

section p {
    height: 700px;
}
section div{
    background-color: darkkhaki;
}

hr{
    border-color: black;
}
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 1px solid white;
}

#nav-list {
  background-color: black;
    color: white;
}
#nav-list {
  margin-top: auto;
}
#nav-list a {
  color: white;
  text-align: center;
}



  #collapsable-nav a{ /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
.nav-header {
  background-color: black;
}

.nav-brand {
  color: white;
  font-size: 1.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list a:hover {
  background: #E9E9E9;
}

.navbar-brand {
  font-size: 2em;
  color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}
.dis{
    padding: 10px;
}